body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.container {
  max-width: 1320px;
  width: 80%;
  margin: auto;
}

header {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.task-form {
  text-align: center;
}

.task-form input {
  padding: 5px 20px;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(90, 90, 90);
  margin-right: 20px;
  max-width: 340px;
  width: 100%;
}

.task-form button {
  padding: 5px 20px;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(90, 90, 90);
  margin-right: 20px;
  background-color: black;
  color: white;
  border: 1px solid black;
}

.task-form button:hover {
  background-color: rgb(46, 45, 45);
  cursor: pointer;
}

.timer {
  font-size: 5rem;
  text-align: center;
  margin-top: 20px;
}

.task,
.task-sumary {
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.tasks {
  margin-top: 20px;
}

.task:last-of-type {
  border-bottom: none;
}

.active-task {
  text-align: center;
  font-size: 2.5rem;
}

.active-task-container button {
  border: none;
  margin-top: 20px;
  background-color: #dc3545;
  color: white;
  padding: 10px 40px;
  font-size: 2rem;
  width: 100%;
  max-width: 600px;
}

.active-task-container {
  text-align: center;
}

.total-time {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 20px;
}

@media (max-width: 800px) {
  html {
    font-size: 14px;
  }

  .task-form {
    display: flex;
    flex-direction: column;
  }

  .task-form input {
    margin-right: 0px;
    margin-bottom: 10px;
    max-width: initial;
  }

  .task-form button {
    margin-right: 0px;
  }

  .timer {
    font-size: 4rem;
  }
}